@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.landing-page{
    background-color: #ede8ce;
}

#connect{
    background-color: #049a24;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    padding: 16px 0;
    text-align: center;
    line-height: normal;
    font-size: 24px;
}

.information-section{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding-top: 30px;
}

#landing-header{
    color: purple;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 30px;
    font-family:"Bodoni Moda", serif;
    font-weight: 550;
}

#landing-subsection{
    position: relative;
    top: 50px;
    text-align: center;

}

#dark-purple-star1{
    width: 200px;
    height: 175px;
    position: absolute;
    left: -28%;
    top: 10%;
    transform: rotate(58deg);
}

#light-purple-star1{
    width: 175px;
    height: 150px;
    position: absolute;
    left: -45%;
    top: 33%;
    transform: rotate(60deg);
}

#dark-purple-star2{
    width: 150px;
    height: 125px;
    position: absolute;
    left: -20%;
    top: 45%;
    transform: rotate(90deg);
}

#light-purple-star2{
    width: 175px;
    height: 150px;
    position: absolute;
    right: -25%;
    top: 35%;
    transform: rotate(83deg);
}

#light-purple-star3{
    width: 190px;
    height: 165px;
    position: absolute;
    right: -45%;
    bottom: 65%;
    transform: rotate(65deg);
}

#dark-purple-star3{
    width: 175px;
    height: 150px;
    position: absolute;
    right: -50%;
    bottom: 36%;
    transform: rotate(60deg);
}

#bts-ot7{
    width:775;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}

#data-safe{
    font-size: 10px;
    color: black;
    position: relative;
    text-align: center;
}

