@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.landing-page{
    background-color: #ede8ce;
}

#connect{
    background-color: #049a24;
    color: white;
}

.landing-header{
    color: purple;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 30px;
    font-family:"Bodoni Moda", serif;
    font-weight: 550;


}

#dark_purple_star1{
    width: 200px;
    height: 175px;
    position: relative;
    left: 215px;
    bottom: 30px;
    transform: rotate(58deg);
}

#light_purple_star1{
    width: 175px;
    height: 150px;
    position: relative;
    left: 25px;
    bottom: 30px;
    transform: rotate(60deg);
}

#dark_purple_star2{
    width: 150px;
    height: 125px;
    position: relative;
    left: 260px;
    bottom: 110px;
    transform: rotate(90deg);
}
